doctype html
html
  head
    title  CCTNS Dashboard
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js')
    
  body    
    #topbar
      p
        h1 CCTNS विश्लेषणात्मक प्रत्योक्षकारिक संधान
    // input(type="checkbox" id="hamburger" name="hamburger")
    //label(for="hamburger")
    
    .links                
      p 
        strong अपराध सम्बन्धी
      p
        select#crimes(onclick='load_data(this.id)', size="7")
          option(id="crime1" value='1') लंबित विवेचनायें
          option(id="crime2" value='2') गिरफ्तार अपराधी 
          option(id="crime3" value='3') संपत्ति बरामदगी
          option(id="crime4" value='4') विवेचना पूर्ति विलम्ब
          option(id="crime5" value='5') गिरफ़्तारी में विलम्ब
          option(id="crime7" value='7') तुलनात्मक अंश
      p 
        strong नागरिक सेवाये
      p
        select#services(onclick='load_data(this.id)', size="2")
          option(id="service1" value='6') कुल शिकायतें        
    table#dropdown-panel
      tr
        td.dropdown-menu
          p जोन
          form.drop-form
            select#s0
              option All
        td.dropdown-menu
          p परिक्षेत्र
          form.drop-form
            select#s1
              option All
        td.dropdown-menu
          p जनपद
          form.drop-form
            select#s2
              option All
        td.dropdown-menu
          p थाना
          form.drop-form
            select#s3
              option All
    #drawbox
    .footer
      table#footer-table
        tr
          td
            p तारीख (आरम्भ)
          td
            p तारीख (अंत)
          td
            p Range
          td(style="border-left: 1pt solid white")
            p  लक्ष्मण रेखा
          td
            p Set
        tr
          td
            input#from(type="month", name="from", min="2016-01", value="2016-01")
          td
            input#to(type="month", name="to", max="2020-01", value="2016-12")
          td
            button#setdate(type="submit", onclick='setNewDate()')  पुनः 
          td(style="border-left: 1pt solid white")
            input#threshval(type="number", name="threshval", value=60)
          td
            button#updatethreshval(type="submit") पुनः 
    script(type='text/javascript', src='/javascripts/script.js')     

    
