doctype html
html
  head
    title  CCTNS Dashboard
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    table#dropdown-panel
      tr
        td.dropdown-menu
          p Zone
          form#zone.drop-form
            select
              option All
        td.dropdown-menu
          p Range
          form#range.drop-form
            select
              option All
        td.dropdown-menu
          p District
          form#district.drop-form
            select
              option All
        td.dropdown-menu
          p Chowki
          form#ps.drop-form
            select
              option All

    script(src='http://d3js.org/d3.v3.min.js')
    script(src='http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js')
    script(type='text/javascript', src='/javascripts/script.js')
