doctype html
html
  head
    title  CCTNS Dashboard 
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    table#button-panel
      tbody
        tr
          td
            button#b1.circle-button(onclick='load_data(this.id)')  Pending cases 
          td
            button#b2.circle-button(onclick='load_data(this.id)')  Absconding accused 
          td
            button#b3.circle-button(onclick='load_data(this.id)')  Property returned 
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js')
    script(type='text/javascript', src='/javascripts/script.js')
