<!DOCTYPE html>
<meta charset="utf-8">
<title>search database</title>
<head>
  <link rel="stylesheet" href="./css/mongoSearch.css">
  <script src="./js/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="./js/bootstrap.min.js"></script>
  
</head>

<div id="info">
  <!-- <p id="info_start">Click on the microphone icon and begin speaking.</p>
  <p id="info_speak_now">Speak now.</p>  -->
  <p id="info_no_speech">No speech was detected. You may need to adjust your
    <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
      microphone settings</a>.</p>
  <p id="info_no_microphone" style="display:none">
    No microphone was found. Ensure that a microphone is installed and that
    <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
    microphone settings</a> are configured correctly.</p>
  <p id="info_allow">Click the "Allow" button above to enable your microphone.</p>
  <p id="info_denied">Permission to use microphone was denied.</p>
  <p id="info_blocked">Permission to use microphone is blocked. To change,
    go to chrome://settings/contentExceptions#media-stream</p>
  <p id="info_upgrade">Web Speech API is not supported by this browser.
     Upgrade to <a href="//www.google.com/chrome">Chrome</a>
     version 25 or later.</p>
</div>
<!-- <div class="right">
    
  <button id="start_button" onclick="startButton(event)">
    <img id="start_img" src="mic.gif" alt="Start"></button>
    <button class="btn btn-default" type="button" onclick="callMongo();">
        <span class=" glyphicon glyphicon-search" ></span>
    </button>
    
</div> -->
<!-- <input type="text" class="  search-query form-control" style="padding-left: 20px;" id="input" placeholder="   Search" /> -->

<div class="input-group">
    <input type="text" class="  search-query form-control" style="padding-left: 10px;" id="input" placeholder="   Search" />
    <span class="input-group-btn">
        
        <button class="btn btn-danger" type="button" onclick="callMongo();">
            <span class=" glyphicon glyphicon-search" ></span>
        </button>
    </span>
    <button id="start_button" onclick="startButton(event)">
        <img id="start_img" src="mic.gif" alt="Start"></button>
</div>

<!-- <div id="results">
  <span id="final_span" class="final" contenteditable="true"></span>
  <span id="interim_span" class="interim" ></span>
  <p>
</div> -->
<p id="interim_text"></p>
<!-- <div id="div_language">
    <select id="select_language" onchange="updateCountry()"></select>
    &nbsp;&nbsp;
    <select id="select_dialect"></select>
    &nbsp;&nbsp;
    &nbsp;&nbsp;

    

  </div> -->
</div>
<div id="inputoutput" style="padding-left:5px;padding-right: 5px;padding-top: 5px;padding-bottom:  5px; background:azure">
    <div id="mqu" style="padding-bottom:  2px; "><textarea class="form-control"  placeholder="MongoDB Query" id="query"  rows="2" ></textarea></div>
    <textarea class="form-control" id="response" placeholder="Search Result " rows="23"></textarea>
   </div>
<script src="./js/mongoSearch.js"></script>