body{
  background-color: white;
  color: black;
  font-family: Verdana, Geneva, sans-serif;
}

#topbar{
  width: 95vw;
  height: 10vh;
  background-color: #007849;
  color: white;
  text-align: right;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 5vw;  
}

#drawbox{
  position: relative;
  width: 75vw;
  height: 70vh;
  margin-left: 20vw;
  margin-top: 2vh;  
}

h1{
  margin: 10px;
  text-align: right;
  font-size: 36px;
  font-family: "Lucida Console", Monaco, monospace;
}

p{
  font-size: 24px;
}

td{
  text-align: center;
}

svg g{
  font-size: 20px;
  color: black;
}

select{
  background-color: inherit;
  color: cornflowerblue;
  border: none;
  font-size: 2rem;
}

select:focus{
  outline: none;
}

option{
  color: blue;
}

input{
  text-align: center;
  width: auto;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  background-color: #007849;
  color: white;
  text-align: center;
}

#footer-table{
  width: 100%;  
  height: 100%;
}

#footer-table p{
  font-size: 16px;
}

td{
  text-align: center;
  align-content: center;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  fill: black;
}
/*
.bar {
  fill: white;
}
*/
.bar:hover {  
  fill: blue ;
}

.x.axis .tick{
  display: none;
}

.x.axis text{
  font-size: 24px;
}

.y.axis text{
  font-size: 24px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(255, 255, 255, 0);
  color: black;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


/* dropdown panel CSS */

#dropdown-panel{
  width: 70%;
  margin-left: 25%;  
  border: none;
  display: inline-table;
}

.dropdown-menu{
  width: 25%;
  border: none;
}

.drop-form{
  width: 100%;
  border: none;
}

select{
  background-color: inherit;
  color: black;
  border: none;
  overflow: auto;
  font-size: 18px;  
}

select:focus{
  outline: none;
}

option{
  color: black;
  padding-top: 1%;  
}


.links {
  position: absolute;
  padding: 2em;
  left: 3vw;
  top: 20vh;
  z-index: 3;
  text-align: center;
  border-right: 3pt solid rgba(220, 17, 17, 0.25);
}

.links p {
  display: block;
  color: black;  
  font-weight: bold;
  text-decoration: none;
}

.links p:hover{
  color: red;
}



/*
#hamburger:checked ~ .content {
  padding-left: 35vw;
  transition: all .2s;
  transition-delay: 0s;
}
*/


/* hamburger CSS 

.menu-container {  
  width: 10%; 
  height: 100%;   
  left: 0;
  top: 2%;
  transition-delay: .3s;
}

.menu {
  position: relative;
  width: 100%;
  height: 100%;
  
  border-width: 1px;
  border-color: red;
  border-radius: 100%;
}
*/
/*
#hamburger {
  display: none;  
}

label {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
}

label:before {
  content: "";
  position: absolute;
  top: 65%;
  left: 65%;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow: 0 0.25em 0 0 white, 0 0.5em 0 0 white;
  -webkit-transform: scale(2);
          transform: scale(2);
}


#hamburger:checked ~ .menu-container {
  width: 20%;
  height: 100%;
  transition-delay: 0s;
}

#hamburger:checked ~ .menu-container .menu {
  width: 20%;
  height: 100%;
  transition: all .3s;
}
*/
