body{
  background-color: #00bfff;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}

h1{
  margin: 50px;
  text-align: center;
  font-size: 48px;
  font-family: "Lucida Console", Monaco, monospace;
}

p{
  font-size: 24px;
}

td{
  text-align: center;
}

svg g{
  font-size: 20px;
  color: #fff;
}

select{
  background-color: inherit;
  color: white;
  border: none;
  font-size: 2rem;
}

select:focus{
  outline: none;
}

option{
  color: blue;
}

.footers{
  height: 5vw;
}

td{
  text-align: center;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis text {
  fill: white;
}
/*
.bar {
  fill: white;
}
*/
.bar:hover {
  fill: blue ;
}


.x.axis .tick{
  display: none;
}

.x.axis text{
  font-size: 24px;
}

.y.axis text{
  font-size: 24px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


/* dropdown panel CSS */

#dropdown-panel{
  width: 70%;
  margin-left: 25%;
  margin-top: 2%;
  border: none;
  display: inline-table;
}

.dropdown-menu{
  width: 25%;
  border: none;
}

.drop-form{
  width: 100%;
  border: none;
}

select{
  background-color: inherit;
  color: white;
  border: none;
  font-size: 20px;
}

select:focus{
  outline: none;
}

option{
  color: blue;
}


/* hamburger CSS */

.menu-container {
  position: absolute;
  width: 3rem;
  height: 5rem;
  overflow: hidden;
  left: 0;
  top: 0;
  transition-delay: .3s;
}

.menu {
  position: relative;
  width: 10rem;
  height: 10rem;
  background-color: #00bfff;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all .3s;
}

#hamburger {
  display: none;  
}

label {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
}
label:before {
  content: "";
  position: absolute;
  top: 65%;
  left: 65%;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow: 0 0.25em 0 0 white, 0 0.5em 0 0 white;
  -webkit-transform: scale(2);
          transform: scale(2);
}

#hamburger:checked ~ .menu-container {
  width: 30vw;
  height: 100vh;
  transition-delay: 0s;
}

#hamburger:checked ~ .menu-container .menu {
  width: 250vh;
  height: 250vh;
  transition: all .3s;
}

.menu-container .links {
  position: absolute;
  left: 10vw;
  top: 30vh;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.menu-container .links p {
  display: block;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.menu-container .links p:hover{
  color: red;
}

#hamburger:checked ~ .content {
  padding-left: 35vw;
  transition: all .2s;
  transition-delay: 0s;
}

